Repository K-Holotenko/graxis-app-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-322 [My publications] Layout. Fix comments
  src/components/Header/index.tsx
  src/pages/MyPublicationsPage/index.tsx
  src/pages/MyPublicationsPage/utils/config.ts
  src/router/index.tsx
  src/router/routes.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fixed typing issue
  src/components/AuthForms/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Removed empty file
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfo/styles.module.scss
Due: prettier --write

GRX-297.Update pricing calculation to handle price range when only one is provided by the owner
  src/pages/PublicationPage/children/Price/index.tsx
  src/pages/PublicationPage/children/Price/styles.module.scss
  src/pages/PublicationPage/children/Price/utils/count.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fix bugs
  src/pages/PublicationPage/children/Price/index.tsx
  src/pages/PublicationPage/children/Price/styles.module.scss
  src/pages/PublicationPage/children/Price/utils/count.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-140 Fix sign up without email verification bug
  src/App.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-140 [BUG] Sign up without email verification. Fix comments
  src/App.tsx
  src/components/Header/index.tsx
  src/pages/LoginPage/index.tsx
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-140 [BUG] Sign up without email verification. Fix comments
  src/pages/LoginPage/children/EmailLoginForm/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-140 [BUG] Sign up without email verification. Fix conflicts
  src/components/Header/Header.test.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-322 [My publications] Layout. Fix comments
  src/components/Drawer/index.tsx
  src/components/Header/index.tsx
  src/pages/MyPublicationsPage/index.tsx
  src/router/index.tsx
  src/router/routes.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-308 [Search page] Add filtering logic
  src/config/constants/index.ts
  src/hooks/useCategories.ts
  src/pages/HomePage/children/HeroSection/index.tsx
  src/pages/SearchPage/children/CategoriesFilter/index.tsx
  src/pages/SearchPage/children/CategoriesFilter/styles.module.scss
  src/pages/SearchPage/children/Filters/index.tsx
  src/pages/SearchPage/children/Filters/styles.module.scss
  src/pages/SearchPage/children/Filters/utils/filters.ts
  src/pages/SearchPage/children/LoadMore/index.tsx
  src/pages/SearchPage/children/PublicationsSection/index.tsx
  src/pages/SearchPage/children/SearchBar/index.tsx
  src/pages/SearchPage/children/SearchBar/styles.module.scss
  src/pages/SearchPage/children/SearchEmptyState/index.tsx
  src/pages/SearchPage/children/SearchEmptyState/styles.module.scss
  src/pages/SearchPage/index.tsx
  src/pages/SearchPage/skeletons/index.tsx
  src/pages/SearchPage/skeletons/styles.module.scss
  src/pages/SearchPage/utils/config.ts
  src/pages/SearchResultsPage/children/Filters/index.tsx
  src/router/index.tsx
  src/services/PublicationService.ts
  src/stores/categoriesStore.ts
  src/utils/buildCategoriesTree.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Added reset filters button and select placeholder
  src/pages/SearchPage/children/CategoriesFilter/index.tsx
  src/pages/SearchPage/children/CategoriesFilter/styles.module.scss
  src/pages/SearchPage/children/Filters/utils/filters.ts
  src/pages/SearchPage/children/SearchBar/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Added search bar reset
  src/components/Input/index.tsx
  src/pages/SearchPage/children/SearchBar/index.tsx
  src/pages/SearchPage/children/SearchBar/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-320 [Auth/Login] Remove login via tel number
  src/components/AuthForms/index.tsx
  src/components/AuthForms/styles.module.scss
  src/components/AuthPhoneForm/index.tsx
  src/components/AuthPhoneForm/styles.module.scss
  src/config/constants/index.ts
  src/pages/LoginPage/LoginPage.test.tsx
  src/pages/LoginPage/index.tsx
  src/pages/LoginPage/utils/config.ts
  src/pages/RegistrationPage/RegistrationPage.test.tsx
  src/pages/RegistrationPage/index.tsx
  src/pages/RegistrationPage/utils/config.ts
  src/router/routes.tsx
  src/services/AuthService.ts
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Removed Verification page
  src/pages/VerificationPage/children/VerificationForm/index.tsx
  src/pages/VerificationPage/children/VerificationForm/styles.module.scss
  src/pages/VerificationPage/index.tsx
  src/pages/VerificationPage/styles.module.scss
  src/pages/VerificationPage/utils/constants.ts
  src/router/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-337 Update regresh token logic
  src/App.tsx
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-257 [User Profile] Sidebar menu
  src/layouts/ProfileLayout/index.tsx
  src/pages/UserProfilePage/children/FaqTab/index.tsx
  src/pages/UserProfilePage/children/NotificationsTab/index.tsx
  src/pages/UserProfilePage/children/PaymentTab/index.tsx
  src/pages/UserProfilePage/children/PrivacyPolicyTab/index.tsx
  src/pages/UserProfilePage/children/Sidebar/index.tsx
  src/pages/UserProfilePage/children/Sidebar/styles.module.scss
  src/pages/UserProfilePage/index.tsx
  src/router/index.tsx
  src/router/routes.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-326 [My publications] Added tabs and updated user fetching logic
  src/App.tsx
  src/components/AuthForms/index.tsx
  src/components/Drawer/index.tsx
  src/components/Header/index.tsx
  src/config/constants/index.ts
  src/layouts/MyPublicationsLayout/styles.module.scss
  src/pages/AppLoadingPage/index.tsx
  src/pages/AppLoadingPage/styles.module.scss
  src/pages/LoginPage/LoginPage.test.tsx
  src/pages/MyPublicationsPage/children/Tabs/index.tsx
  src/pages/MyPublicationsPage/children/Tabs/styles.module.scss
  src/pages/MyPublicationsPage/index.tsx
  src/pages/RegistrationPage/RegistrationPage.test.tsx
  src/router/PrivateRoute.tsx
  src/stores/authStore.ts
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Update cookie handling
  src/services/CookieService.ts
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE [Profile] Update avatar handling
  src/components/AuthForms/index.tsx
  src/components/Drawer/index.tsx
  src/components/Header/index.tsx
  src/config/constants/index.ts
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfoPreviewMode/index.tsx
  src/router/routes.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Path conditions:
  prettier --config .prettierrc.json "src/**" --write: any of: *.{js,jsx,ts,tsx}
  eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,scss,md}
