Repository K-Holotenko/graxis-app-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --config .prettierrc.json \"src/**\" --write",
    "eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix",
    "git add"
  ],
  "*.{css,scss,md}": ["prettier --write"]
}

GRX-296 Buffix [Add User Info] Fix avatar jumping. Fix comments
  src/pages/AddUserInfoPage/children/AddUserInfoForm/styles.module.scss
Due: prettier --write

GRX-251 [Add publication] Fix price inputs value
  src/config/constants/index.ts
  src/layouts/AppLayout/styles.module.scss
  src/pages/PublicationFormPage/children/NumberInput/index.tsx
  src/pages/PublicationFormPage/children/PriceInputs/index.tsx
  src/pages/PublicationFormPage/children/PriceInputs/styles.module.scss
  src/pages/PublicationFormPage/children/PublicationForm/index.tsx
  src/pages/PublicationFormPage/children/PublicationForm/styles.module.scss
  src/pages/PublicationFormPage/styles.module.scss
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-251 [Add Publication] Fix tests error
  src/pages/PublicationFormPage/children/PriceInputs/PriceInputs.test.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-251 [Add Publication] Fix input value. Delete input tests
  src/pages/PublicationFormPage/children/PriceInputs/PriceInputs.test.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-382 [Search] Fix pagination
  src/App.tsx
  src/components/ScrollRestorationConfig/index.tsx
  src/pages/SearchPage/children/SearchBar/index.tsx
  src/pages/SearchPage/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Created a Public profile layout
  src/components/PublicationCard/styles.module.scss
  src/layouts/PublicProfileLayout/index.tsx
  src/layouts/PublicProfileLayout/styles.module.scss
  src/pages/PublicUserProfile/children/FeedbackCard/index.tsx
  src/pages/PublicUserProfile/children/FeedbackCard/styles.module.scss
  src/pages/PublicUserProfile/children/HeroBanner/index.tsx
  src/pages/PublicUserProfile/children/HeroBanner/styles.module.scss
  src/pages/PublicUserProfile/fixtures/fixtures.ts
  src/pages/PublicUserProfile/index.tsx
  src/pages/PublicUserProfile/styles.module.scss
  src/pages/PublicationPage/children/Owner/index.tsx
  src/router/index.tsx
  src/router/routes.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fixed Copilot comments and styling duplicates
  src/layouts/PublicProfileLayout/index.tsx
  src/pages/PublicUserProfile/children/HeroBanner/styles.module.scss
  src/pages/PublicUserProfile/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

NONE Ensure that token refresh and fetch user from DB are sequential
  src/App.tsx
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Created axios interceptor to fix unauthorized request after token expired
  package-lock.json
  package.json
  src/components/AuthForms/index.tsx
  src/components/Drawer/index.tsx
  src/components/Header/index.tsx
  src/pages/NotFoundPage/index.tsx
  src/pages/NotFoundPage/styles.module.scss
  src/router/PrivateRoute.tsx
  src/services/CategoriesService.ts
  src/services/PublicationService.ts
  src/services/UserService.ts
  src/services/api.ts
  src/stores/authStore.ts
  src/stores/categoriesStore.ts
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fixed tests
  src/pages/HomePage/children/PopularGoods/PopularGoods.test.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Implemented UI part and initial socket setup
  package-lock.json
  package.json
  src/assets/icons/arrow-left.svg
  src/assets/icons/check.svg
  src/assets/icons/chevron-right.svg
  src/assets/icons/cross-icon.svg
  src/assets/icons/send.svg
  src/components/ScrollRestorationConfig/index.tsx
  src/layouts/BookingLayout/index.tsx
  src/pages/AddPublicationPage/children/AddPublicationForm/index.tsx
  src/pages/AddPublicationPage/index.tsx
  src/pages/BookingPage/children/Booking/index.tsx
  src/pages/BookingPage/children/Booking/styles.module.scss
  src/pages/BookingPage/children/BookingDialog/index.tsx
  src/pages/BookingPage/children/BookingDialog/styles.module.scss
  src/pages/BookingPage/children/Chat/index.tsx
  src/pages/BookingPage/children/Chat/styles.module.scss
  src/pages/BookingPage/children/Container/index.tsx
  src/pages/BookingPage/children/Container/styles.module.scss
  src/pages/BookingPage/children/Shelf/index.tsx
  src/pages/BookingPage/children/Shelf/styles.module.scss
  src/pages/BookingPage/index.tsx
  src/pages/BookingPage/styles.module.scss
  src/pages/PublicationPage/children/Price/index.tsx
  src/pages/PublicationPage/skeletons/index.tsx
  src/router/index.tsx
  src/router/routes.tsx
  src/services/Booking.ts
  src/services/Chat.ts
  src/services/CookieService.ts
  src/sockets.ts
  src/stores/authStore.ts
  src/stores/bookingStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Test chat
  package-lock.json
  src/pages/BookingPage/children/BookingDialog/index.tsx
  src/pages/BookingPage/index.tsx
  src/services/Chat.ts
  src/sockets.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Implemented the core chat logic and styling
  src/hooks/useWindowSize.ts
  src/pages/BookingPage/children/BookingDialog/index.tsx
  src/pages/BookingPage/children/Chat/index.tsx
  src/pages/BookingPage/children/Chat/styles.module.scss
  src/pages/BookingPage/children/MessageList/index.tsx
  src/pages/BookingPage/children/MessageList/styles.module.scss
  src/pages/BookingPage/index.tsx
  src/pages/PublicationPage/children/Price/index.tsx
  src/services/Booking.ts
  src/services/Chat.ts
  src/services/PublicationService.ts
  src/services/UserService.ts
  src/stores/bookingStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Added autoscrolling feature
  src/pages/BookingPage/children/Chat/index.tsx
  src/pages/BookingPage/children/Chat/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Added dialog button conditional basic logic
  .eslintrc.json
  src/hooks/useBookingStatus.ts
  src/pages/BookingPage/children/Booking/index.tsx
  src/pages/BookingPage/children/BookingDialog/index.tsx
  src/pages/BookingPage/children/BookingDialog/utils.ts
  src/services/Booking.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-406 [SearchPage] Extandeed pagination functionality
  src/layouts/SearchLayout/index.tsx
  src/layouts/SearchLayout/styles.module.scss
  src/pages/SearchPage/index.tsx
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Add autoscrolling, dialog button update and status steps update
  src/hooks/useBookingStatus.ts
  src/pages/BookingPage/children/Booking/index.tsx
  src/pages/BookingPage/children/BookingDialog/index.tsx
  src/pages/BookingPage/children/BookingDialog/utils.ts
  src/pages/BookingPage/children/MessageList/styles.module.scss
  src/services/Booking.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Added first part of the data from BE, and adjusted cards grid
  package-lock.json
  src/components/PublicationCard/styles.module.scss
  src/layouts/CardsGridLayout/styles.module.scss
  src/pages/HomePage/children/FeedbackSectionCard/index.tsx
  src/pages/PublicUserProfile/children/HeroBanner/index.tsx
  src/pages/PublicUserProfile/fixtures/fixtures.ts
  src/pages/PublicUserProfile/index.tsx
  src/pages/PublicUserProfile/styles.module.scss
  src/pages/PublicationPage/children/Owner/index.tsx
  src/pages/PublicationPage/children/Owner/utils/utils.ts
  src/services/UserService.ts
  src/stores/userProfileStore.ts
  src/utils/formatDate.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-389 [Publication edit page] Fixed pulication thubnail update after exit edit mode
  src/pages/PublicationFormPage/children/PublicationForm/index.tsx
  src/pages/PublicationFormPage/children/UploadList/index.tsx
  src/pages/PublicationFormPage/children/UploadList/styles.module.scss
  src/services/api.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-412 [Public profile] Connect UI with BE
  src/layouts/PublicProfileLayout/index.tsx
  src/pages/PublicUserProfile/children/HeroBanner/index.tsx
  src/utils/formatDate.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-415 [Sign up] Update sign up mechanism
  package-lock.json
  src/App.tsx
  src/components/AuthForms/index.tsx
  src/components/Drawer/index.tsx
  src/components/Header/Header.test.tsx
  src/components/Header/index.tsx
  src/hooks/usePublication.ts
  src/hooks/useRequireAuth.ts
  src/pages/AddUserInfoPage/children/AddUserInfoForm/AddUserInfoForm.tsx
  src/pages/AddUserInfoPage/children/AddUserInfoForm/styles.module.scss
  src/pages/BookingPage/children/BookingDialog/index.tsx
  src/pages/BookingPage/children/Chat/index.tsx
  src/pages/LoginPage/LoginPage.test.tsx
  src/pages/LoginPage/children/EmailLoginForm/index.tsx
  src/pages/LoginPage/index.tsx
  src/pages/PublicationPage/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfoEditMode/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfoPreviewMode/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfoEditMode/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfoPreviewMode/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/UpdateProfileDialog/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/index.tsx
  src/pages/UserProfilePage/index.tsx
  src/router/PrivateRoute.tsx
  src/services/AuthService.ts
  src/services/CookieService.ts
  src/services/UserService.ts
  src/services/api.ts
  src/sockets.ts
  src/stores/authStore.ts
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write
