Repository K-Holotenko/graxis-app-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-290 [Search page] Add categories for filter from BE
  src/hooks/useCategories.ts
  src/pages/AddPublicationPage/children/CategoriesDropdown/index.tsx
  src/pages/SearchResultsPage/children/CategoriesFilter/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-295 Added request to BE to pull Publication data
  src/components/AuthPhoneForm/index.tsx
  src/components/Loadable/index.tsx
  src/config/constants/index.ts
  src/layouts/PublicationLayout/index.tsx
  src/layouts/PublicationLayout/styles.module.scss
  src/pages/ItemPage/children/ItemName/index.tsx
  src/pages/ItemPage/children/LocationMap/index.tsx
  src/pages/ItemPage/children/LocationMap/styles.module.scss
  src/pages/ItemPage/children/LocationMap/utils/generateCircle.ts
  src/pages/ItemPage/children/UserDescription/index.tsx
  src/pages/ItemPage/index.tsx
  src/pages/ItemPage/utils/config.ts
  src/pages/PublicationPage/children/Description/index.tsx
  src/pages/PublicationPage/children/Description/styles.module.scss
  src/pages/PublicationPage/children/ImageCarousel/index.tsx
  src/pages/PublicationPage/children/ImageCarousel/styles.module.scss
  src/pages/PublicationPage/children/Map/index.tsx
  src/pages/PublicationPage/children/Map/styles.module.scss
  src/pages/PublicationPage/children/Owner/index.tsx
  src/pages/PublicationPage/children/Owner/styles.module.scss
  src/pages/PublicationPage/children/Owner/utils/utils.ts
  src/pages/PublicationPage/children/Picker/index.tsx
  src/pages/PublicationPage/children/Picker/styles.module.scss
  src/pages/PublicationPage/children/Price/index.tsx
  src/pages/PublicationPage/children/Price/styles.module.scss
  src/pages/PublicationPage/children/Price/utils/count.ts
  src/pages/PublicationPage/children/PublicationName/index.tsx
  src/pages/PublicationPage/children/PublicationName/styles.module.scss
  src/pages/PublicationPage/index.tsx
  src/pages/PublicationPage/skeletons/index.tsx
  src/pages/PublicationPage/skeletons/styles.module.scss
  src/router/index.tsx
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Updated check for empty publication id
  src/pages/PublicationPage/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fixed pipline
  src/pages/AddPublicationPage/children/AddPublicationForm/utils/config.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fixed comments
  src/config/constants/index.ts
  src/layouts/PublicationLayout/styles.module.scss
  src/pages/PublicationPage/children/Owner/index.tsx
  src/pages/PublicationPage/children/Picker/index.tsx
  src/pages/PublicationPage/children/Price/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-290 [Search Page] Filter categories. Fix comments
  src/hooks/useCategories.ts
  src/pages/AddPublicationPage/children/CategoriesDropdown/index.tsx
  src/pages/SearchResultsPage/children/CategoriesFilter/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-298 [Search page] Updated publication card layout
  src/components/PublicationCard/index.tsx
  src/components/PublicationCard/styles.module.scss
  src/components/PublicationCard/utils/utils.ts
  src/pages/HomePage/children/PopularGoodCard/PopularGoodCard.test.tsx
  src/pages/HomePage/children/PopularGoodCard/index.tsx
  src/pages/HomePage/children/PopularGoods/index.tsx
  src/pages/PublicationPage/children/Owner/index.tsx
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fixed text length
  src/components/PublicationCard/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-224 [Search page] Added load more logic
  src/layouts/CardsGridLayout/styles.module.scss
  src/layouts/SearchLayout/index.tsx
  src/layouts/SearchLayout/styles.module.scss
  src/pages/SearchResultsPage/children/Filters/index.tsx
  src/pages/SearchResultsPage/children/Filters/styles.module.scss
  src/pages/SearchResultsPage/children/LoadMore/index.tsx
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
  src/pages/SearchResultsPage/index.tsx
  src/pages/SearchResultsPage/skeletons/index.tsx
  src/pages/SearchResultsPage/skeletons/styles.module.scss
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

[WIP] GRX-308 Categories filter logic
  src/pages/SearchResultsPage/children/CategoriesFilter/index.tsx
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
  src/pages/SearchResultsPage/children/SearchBar/index.tsx
  src/pages/SearchResultsPage/children/TopContent/index.tsx
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fix comments
  src/config/constants/index.ts
  src/pages/UserProfilePage/children/CancelAndSaveButtons/index.tsx
  src/pages/UserProfilePage/children/ContactInfo/index.tsx
  src/pages/UserProfilePage/children/ContactInfo/styles.module.scss
  src/pages/UserProfilePage/children/ContactInfoEditMode/index.tsx
  src/pages/UserProfilePage/children/ContactInfoEditMode/styles.module.scss
  src/pages/UserProfilePage/children/ContactInfoPreviewMode/index.tsx
  src/pages/UserProfilePage/children/ContactInfoPreviewMode/styles.module.scss
  src/pages/UserProfilePage/children/UpdateProfileDialog/index.tsx
  src/pages/UserProfilePage/children/UpdateProfileDialog/styles.module.scss
  src/pages/UserProfilePage/index.tsx
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fix comments and bugs
  src/config/constants/index.ts
  src/pages/UserProfilePage/children/ContactInfo/index.tsx
  src/pages/UserProfilePage/children/ContactInfo/styles.module.scss
  src/pages/UserProfilePage/children/ContactInfoEditMode/index.tsx
  src/pages/UserProfilePage/children/ContactInfoEditMode/styles.module.scss
  src/pages/UserProfilePage/children/UpdateProfileDialog/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-297.Update pricing calculation to handle price range when only one is provided by the owner
  src/pages/PublicationPage/children/Price/index.tsx
  src/pages/PublicationPage/children/Price/styles.module.scss
  src/pages/PublicationPage/children/Price/utils/count.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-308 [WIP] Categories filter logic
  src/pages/SearchResultsPage/children/CategoriesFilter/index.tsx
  src/pages/SearchResultsPage/children/TopContent/index.tsx
  src/pages/SearchResultsPage/utils/config.ts
  src/services/PublicationService.ts
  src/stores/categoriesStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

[WIP] GRX-308 Categories filter logic
  src/pages/SearchResultsPage/children/CategoriesFilter/index.tsx
  src/pages/SearchResultsPage/children/Filters/index.tsx
  src/pages/SearchResultsPage/children/SearchBar/index.tsx
  src/pages/SearchResultsPage/index.tsx
  src/pages/SearchResultsPage/utils/config.ts
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-140 Fix sign up without email verification bug
  src/App.tsx
  src/components/Header/index.tsx
  src/router/PrivateRoute.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fix bugs
  src/pages/PublicationPage/children/Price/index.tsx
  src/pages/PublicationPage/children/Price/styles.module.scss
  src/pages/PublicationPage/children/Price/utils/count.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fixed typing issue
  src/components/AuthForms/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Removed empty file
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfo/styles.module.scss
Due: prettier --write

GRX-322 [My Publications] Layout
  src/components/Header/index.tsx
  src/components/Heading/styles.module.scss
  src/layouts/MyPublicationsLayout/index.tsx
  src/layouts/MyPublicationsLayout/styles.module.scss
  src/pages/MyPublicationsPage/index.tsx
  src/pages/MyPublicationsPage/utils/config.ts
  src/router/index.tsx
  src/router/routes.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-322 [My publications] Layout. Fix comments
  src/components/Header/index.tsx
  src/pages/MyPublicationsPage/index.tsx
  src/pages/MyPublicationsPage/utils/config.ts
  src/router/index.tsx
  src/router/routes.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Path conditions:
  prettier --config .prettierrc.json "src/**" --write: any of: *.{js,jsx,ts,tsx}
  eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,scss,md}
