Repository K-Holotenko/graxis-app-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --config .prettierrc.json \"src/**\" --write",
    "eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix",
    "git add"
  ],
  "*.{css,scss,md}": ["prettier --write"]
}

Update the number of skelletons
  src/pages/MyPublicationsPage/children/Tabs/TabsContent.tsx
  src/pages/SearchPage/children/PublicationsSection/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-387 Fix location helper text. Fix comments
  src/pages/PublicationFormPage/children/PublicationForm/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Fix booking address
  src/pages/BookingPage/children/Booking/BookingDetails.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Updated location and feedback fields
  src/App.tsx
  src/components/Header/index.tsx
  src/config/constants/index.ts
  src/pages/BookingPage/children/Booking/BookingDetails.tsx
  src/pages/BookingPage/children/Booking/index.tsx
  src/pages/BookingPage/children/Booking/utils.tsx
  src/pages/BookingPage/children/BookingDialog/utils.ts
  src/pages/PublicUserProfile/children/HeroBanner/styles.module.scss
  src/pages/PublicUserProfile/fixtures/fixtures.ts
  src/pages/PublicUserProfile/index.tsx
  src/pages/PublicUserProfile/utils.ts
  src/pages/PublicationFormPage/children/LocationAutocomplete/index.tsx
  src/pages/PublicationFormPage/children/LocationAutocomplete/utils/utils.ts
  src/pages/PublicationFormPage/children/PublicationForm/index.tsx
  src/pages/PublicationPage/children/Map/index.tsx
  src/pages/PublicationPage/children/Picker/index.tsx
  src/pages/PublicationPage/children/Picker/styles.module.scss
  src/pages/PublicationPage/index.tsx
  src/router/index.tsx
  src/services/Booking.ts
  src/services/PublicationService.ts
  src/stores/userProfileStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fixed locality
  src/pages/PublicationFormPage/children/PublicationForm/utils/utils.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Fixed infinite loop on bookin PAID status
  src/pages/BookingPage/children/Booking/BookingDetails.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fixed booking infinite loop one more time
  src/pages/BookingPage/children/Chat/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Reduce the number of call and fix feedback flow
  src/components/Header/index.tsx
  src/pages/BookingPage/children/Booking/BookingDetails.tsx
  src/pages/BookingPage/children/Booking/Feedback.tsx
  src/pages/BookingPage/children/Booking/index.tsx
  src/pages/BookingPage/children/Booking/utils.tsx
  src/pages/BookingPage/children/BookingDialog/utils.ts
  src/pages/BookingPage/children/Chat/index.tsx
  src/pages/BookingPage/children/MessageList/index.tsx
  src/router/routes.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Update steps feedback status update
  src/pages/BookingPage/children/Booking/utils.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Fixed status feedback update
  src/pages/BookingPage/children/Booking/utils.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Fixed auth flow
  src/components/AuthForms/index.tsx
  src/pages/BookingPage/children/MessageList/index.tsx
  src/pages/LoginPage/children/EmailLoginForm/index.tsx
  src/pages/PublicationFormPage/children/LocationAutocomplete/utils/utils.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Debug auth in safari
  src/components/AuthForms/index.tsx
  src/pages/LoginPage/children/EmailLoginForm/index.tsx
  src/services/UserService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fixed vulnarabilities
  package-lock.json
  package.json
Due: none

Commit
  src/pages/LoginPage/children/EmailLoginForm/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Debug auth flow in Safari
  src/components/AuthForms/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Removed TEXT object with unused textual constants
  src/components/AuthForms/index.tsx
  src/components/BreadCrumbs/utils/generateBreadcrumbs.ts
  src/components/Drawer/index.tsx
  src/components/Footer/index.tsx
  src/config/constants/index.ts
  src/pages/AddUserInfoPage/children/AddUserInfoForm/AddUserInfoForm.tsx
  src/pages/HomePage/children/CategoriesSection/CategoriesSection.test.tsx
  src/pages/HomePage/children/CategoriesSection/index.tsx
  src/pages/HomePage/children/HeroSection/index.tsx
  src/pages/LoginPage/children/EmailLoginForm/index.tsx
  src/pages/PublicationFormPage/children/CategoriesDropdown/index.tsx
  src/pages/PublicationFormPage/children/PriceInputs/index.tsx
  src/pages/RegistrationPage/RegistrationPage.test.tsx
  src/pages/RegistrationPage/children/EmailRegistrationForm/index.tsx
  src/pages/SearchPage/children/SearchBar/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Update backend endpoint
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/pull-request.yml
  src/components/AuthForms/index.tsx
  src/config/constants/index.ts
  src/pages/BookingPage/children/BookingDialog/index.tsx
  src/services/AuthService.ts
  src/services/Booking.ts
  src/services/CategoriesService.ts
  src/services/PublicationService.ts
  src/services/UserService.ts
  src/services/api.ts
  src/sockets.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Fixed loading state for add user info
  src/components/AuthForms/index.tsx
  src/pages/AddUserInfoPage/children/AddUserInfoForm/AddUserInfoForm.tsx
  src/pages/LoginPage/children/EmailLoginForm/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Fixed booking status update
  src/components/AuthForms/index.tsx
  src/components/Drawer/index.tsx
  src/components/Header/index.tsx
  src/hooks/useCategories.ts
  src/hooks/useRequireAuth.ts
  src/index.scss
  src/pages/AddUserInfoPage/children/AddUserInfoForm/AddUserInfoForm.tsx
  src/pages/BookingPage/children/Booking/BookingDetails.tsx
  src/pages/BookingPage/children/Booking/Feedback.tsx
  src/pages/BookingPage/children/Booking/index.tsx
  src/pages/BookingPage/children/BookingDialog/index.tsx
  src/pages/BookingPage/children/Chat/index.tsx
  src/pages/BookingPage/children/MessageList/index.tsx
  src/pages/BookingPage/index.tsx
  src/pages/LoginPage/children/EmailLoginForm/index.tsx
  src/pages/PublicationFormPage/children/UploadList/styles.module.scss
  src/pages/SearchPage/children/Filters/index.tsx
  src/pages/UserProfilePage/children/Sidebar/index.tsx
  src/stores/authStore.ts
  src/stores/bookingStore.ts
  src/stores/categoriesStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-423-partly-updated-css-space-constants
  src/components/TextArea/styles.module.scss
  src/config/theme/index.ts
  src/layouts/AppLayout/styles.module.scss
  src/layouts/CardsGridLayout/styles.module.scss
  src/layouts/PublicationLayout/styles.module.scss
  src/layouts/SearchLayout/index.tsx
  src/layouts/SearchLayout/styles.module.scss
  src/pages/PublicationFormPage/children/CategoriesDropdown/index.tsx
  src/pages/PublicationFormPage/children/CategoriesDropdown/styles.module.scss
  src/pages/PublicationFormPage/children/LocationAutocomplete/styles.module.scss
  src/pages/PublicationFormPage/children/PriceInputs/styles.module.scss
  src/pages/PublicationFormPage/children/PublicationForm/index.tsx
  src/pages/PublicationFormPage/children/PublicationForm/styles.module.scss
  src/pages/PublicationFormPage/children/UploadItem/index.tsx
  src/pages/PublicationFormPage/children/UploadList/styles.module.scss
  src/pages/PublicationFormPage/styles.module.scss
  src/pages/PublicationPage/children/Description/styles.module.scss
  src/pages/PublicationPage/children/ImageCarousel/index.tsx
  src/pages/PublicationPage/children/ImageCarousel/styles.module.scss
  src/pages/PublicationPage/children/Map/styles.module.scss
  src/pages/PublicationPage/children/Owner/styles.module.scss
  src/pages/PublicationPage/children/Picker/styles.module.scss
  src/pages/PublicationPage/children/PickerFooter/styles.module.scss
  src/pages/PublicationPage/children/Price/styles.module.scss
  src/pages/PublicationPage/children/PublicationName/styles.module.scss
  src/pages/PublicationPage/skeletons/styles.module.scss
  src/pages/SearchPage/children/CategoriesFilter/index.tsx
  src/pages/SearchPage/children/CategoriesFilter/styles.module.scss
  src/pages/SearchPage/children/Filters/styles.module.scss
  src/pages/SearchPage/children/SearchBar/index.tsx
  src/pages/SearchPage/children/SearchBar/styles.module.scss
  src/pages/SearchPage/children/SearchEmptyState/styles.module.scss
  src/styles/variables.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write
