Repository K-Holotenko/graxis-app-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --config .prettierrc.json \"src/**\" --write",
    "eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix"
  ],
  "*.{css,scss,md}": ["prettier --write"]
}

GRX-252 Fix comments related to filters
  src/assets/icons/arrow-down-light-icon.svg
  src/pages/SearchResultsPage/children/CategoriesFilter/index.tsx
  src/pages/SearchResultsPage/children/CategoriesFilter/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-253 [Add User Info Page] Create page and upload user info to BE
  .eslintrc.json
  .lintstagedrc.json
  src/components/Input/index.tsx
  src/config/constants/index.ts
  src/config/validation/index.ts
  src/pages/AddPublicationPage/children/UploadItem/index.tsx
  src/pages/AddUserInfoPage/children/AddUserInfoForm/AddUserInfoForm.tsx
  src/pages/AddUserInfoPage/children/AddUserInfoForm/styles.module.scss
  src/pages/AddUserInfoPage/index.tsx
  src/pages/AddUserInfoPage/styles.module.scss
  src/pages/AddUserInfoPage/utils/config.ts
  src/pages/ItemPage/children/LocationMap/index.tsx
  src/pages/VerificationPage/children/VerificationForm/index.tsx
  src/router/PrivateRoute.tsx
  src/router/index.tsx
  src/router/routes.tsx
  src/services/UserService.ts
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-255. Add Contact Info block
  src/assets/icons/edit-fields-icon.svg
  src/layouts/ProfileLayout/children/RightContentSection/styles.module.scss
  src/pages/UserProfilePage/children/ContactInfo/index.tsx
  src/pages/UserProfilePage/children/ContactInfo/styles.module.scss
  src/pages/UserProfilePage/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

NONE Added refresh token to registration flow
  src/components/Button/index.tsx
  src/pages/AddUserInfoPage/children/AddUserInfoForm/AddUserInfoForm.tsx
  src/pages/VerificationPage/children/VerificationForm/index.tsx
  src/services/AuthService.ts
  src/services/UserService.ts
  src/stores/authStore.ts
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fixed prettier issue
  src/pages/SearchResultsPage/children/CategoriesFilter/styles.module.scss
Due: prettier --write

NONE Fixed the way the user logs in via phone number
  src/pages/VerificationPage/children/VerificationForm/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Fixed phone number call me
  src/pages/VerificationPage/children/VerificationForm/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-161 Implemented sending publication form to the BE
  src/config/validation/index.ts
  src/pages/AddPublicationPage/children/AddPublicationForm/index.tsx
  src/pages/AddPublicationPage/children/LocationAutocomplete/index.tsx
  src/services/addPublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-261. Save changes for updated user data
  src/pages/UserProfilePage/index.tsx
  src/services/UserService.ts
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Adding some features
  src/layouts/ProfileLayout/children/RightContentSection/styles.module.scss
  src/pages/UserProfilePage/children/ContactInfo/index.tsx
  src/pages/UserProfilePage/children/ContactInfo/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Adding some features
  src/layouts/ProfileLayout/styles.module.scss
  src/pages/UserProfilePage/index.tsx
  src/pages/UserProfilePage/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Adding some features
  src/config/constants/index.ts
  src/pages/UserProfilePage/children/ContactInfo/index.tsx
  src/pages/UserProfilePage/children/ContactInfo/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

NONE Updated login with Google to create record in DB
  src/components/AuthForms/index.tsx
  src/services/UserService.ts
  src/stores/authStore.ts
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Adding some features
  src/pages/UserProfilePage/index.tsx
  src/services/UserService.ts
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-261. Save changes for updated user data
  src/components/Drawer/index.tsx
  src/config/constants/index.ts
  src/pages/UserProfilePage/index.tsx
  src/pages/UserProfilePage/styles.module.scss
  src/services/UserService.ts
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-249 [Add publication] Add location helper text to locatoin field
  src/pages/AddPublicationPage/children/AddPublicationForm/index.tsx
  src/pages/AddPublicationPage/children/AddPublicationForm/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-161 Publish-button-send-data-to-BE, fix validation for price and location
  src/config/constants/index.ts
  src/pages/AddPublicationPage/children/AddPublicationForm/index.tsx
  src/pages/AddPublicationPage/children/LocationAutocomplete/index.tsx
  src/services/PublicationService.ts
  src/services/UserService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-161 [Add publication] Fix comments
  src/config/constants/index.ts
  src/pages/AddPublicationPage/children/AddPublicationForm/index.tsx
  src/pages/AddPublicationPage/children/AddPublicationForm/utils/config.ts
  src/pages/AddPublicationPage/children/LocationAutocomplete/index.tsx
  src/pages/AddPublicationPage/children/LocationAutocomplete/utils/config.ts
  src/services/PublicationService.ts
  src/services/UserService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-289 [Search page] Fetch and display publications from DB
  src/pages/HomePage/children/PopularGoodCard/PopularGoodCard.test.tsx
  src/pages/HomePage/children/PopularGoodCard/index.tsx
  src/pages/HomePage/children/PopularGoodCard/styles.module.scss
  src/pages/HomePage/children/PopularGoodCard/utils/config.ts
  src/pages/HomePage/children/PopularGoods/index.tsx
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-289 [Search page] Fix tests
  src/pages/HomePage/children/PopularGoodCard/PopularGoodCard.test.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix
