Repository K-Holotenko/graxis-app-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --config .prettierrc.json \"src/**\" --write",
    "eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix",
    "git add"
  ],
  "*.{css,scss,md}": ["prettier --write"]
}

GRX-220 [Search page] Added search field with location filter
  .eslintrc.json
  src/components/Input/index.tsx
  src/hooks/useRecaptcha.ts
  src/layouts/SearchLayout/styles.module.scss
  src/pages/AddPublicationPage/children/LocationAutocomplete/index.tsx
  src/pages/SearchResultsPage/children/CategoriesFilter/index.tsx
  src/pages/SearchResultsPage/children/CategoriesFilter/styles.module.scss
  src/pages/SearchResultsPage/children/SearchBar/index.tsx
  src/pages/SearchResultsPage/children/SearchBar/styles.module.scss
  src/pages/SearchResultsPage/children/TopContent/index.tsx
  src/pages/SearchResultsPage/children/TopContent/styles.module.scss
  src/pages/SearchResultsPage/index.tsx
  src/pages/VerificationPage/children/VerificationForm/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fixed style name
  src/layouts/SearchLayout/styles.module.scss
Due: prettier --write

Fixed comments
  src/pages/SearchResultsPage/children/SearchBar/index.tsx
  src/pages/SearchResultsPage/children/TopContent/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-289 [Search page] Display publications from DB. Fix comments
  src/pages/HomePage/children/PopularGoodCard/utils/config.ts
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Adding some features
  src/layouts/ProfileLayout/children/RightContentSection/styles.module.scss
  src/pages/UserProfilePage/children/ContactInfo/index.tsx
  src/pages/UserProfilePage/children/ContactInfo/styles.module.scss
  src/pages/UserProfilePage/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fix comments
  src/pages/UserProfilePage/styles.module.scss
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fix bugs
  src/pages/UserProfilePage/styles.module.scss
Due: prettier --write

Updated searched text to disapper when input is empty
  src/pages/SearchResultsPage/children/CategoriesFilter/index.tsx
  src/pages/SearchResultsPage/children/TopContent/index.tsx
  src/pages/SearchResultsPage/children/TopContent/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fixed infinite loop call
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-225 Add empty state for search
  src/assets/icons/no-search-results.svg
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
  src/pages/SearchResultsPage/children/SearchEmptyState/index.tsx
  src/pages/SearchResultsPage/children/SearchEmptyState/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Adding some features
  src/pages/UserProfilePage/children/ContactInfo/index.tsx
  src/pages/UserProfilePage/children/ContactInfo/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

[WIP] GRX-291 [Add publication] Get categories from BE
  src/pages/AddPublicationPage/children/CategoriesDropdown/index.tsx
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
  src/services/CategoriesService.ts
  src/services/PublicationService.ts
  src/stores/categoriesStore.ts
  src/utils/buildCategoriesTree.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Redeploy
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-258 [Page not found] Create the page
  src/assets/images/page-not-found.svg
  src/layouts/AppLayout/index.tsx
  src/layouts/AppLayout/styles.module.scss
  src/pages/NotFoundPage/index.tsx
  src/pages/NotFoundPage/styles.module.scss
  src/router/index.tsx
  src/router/routes.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-291 [Add publication] Get categories from BE
  src/pages/AddPublicationPage/children/CategoriesDropdown/index.tsx
  src/stores/categoriesStore.ts
  src/utils/buildCategoriesTree.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-291 [Add publication] Add categories in Ukrainian language
  src/pages/HomePage/children/PopularGoodCard/PopularGoodCard.test.tsx
  src/pages/HomePage/children/PopularGoodCard/index.tsx
  src/pages/HomePage/children/PopularGoodCard/utils/config.ts
  src/pages/HomePage/children/PopularGoods/index.tsx
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
  src/services/PublicationService.ts
  src/stores/categoriesStore.ts
  src/utils/buildCategoriesTree.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-255. Add Contact Info block
  src/layouts/ProfileLayout/children/RightContentSection/styles.module.scss
  src/pages/UserProfilePage/children/CancelAndSaveButtons/index.tsx
  src/pages/UserProfilePage/children/CancelAndSaveButtons/styles.module.scss
  src/pages/UserProfilePage/children/ContactInfo/index.tsx
  src/pages/UserProfilePage/children/ContactInfo/styles.module.scss
  src/pages/UserProfilePage/index.tsx
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fix bugs
  src/pages/UserProfilePage/children/ContactInfo/index.tsx
  src/pages/UserProfilePage/children/ContactInfo/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fix UI bugs
  src/pages/UserProfilePage/children/ContactInfo/styles.module.scss
Due: prettier --write

GRX-291 [Add publications] Fix comments
  src/pages/AddPublicationPage/children/CategoriesDropdown/index.tsx
  src/stores/categoriesStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix
