Repository K-Holotenko/graxis-app-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

NONE [Profile] Update avatar handling
  src/components/AuthForms/index.tsx
  src/components/Drawer/index.tsx
  src/components/Header/index.tsx
  src/config/constants/index.ts
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfoPreviewMode/index.tsx
  src/router/routes.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-257 [User Profile] Sidebar. Fix comments
  src/layouts/ProfileLayout/index.tsx
  src/pages/UserProfilePage/children/Sidebar/index.tsx
  src/pages/UserProfilePage/children/Sidebar/styles.module.scss
  src/pages/UserProfilePage/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-356 Fix undefined in user name
  src/components/Drawer/index.tsx
  src/services/UserService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-355 [Profile] Updated avatar upload logic
  src/pages/AddUserInfoPage/children/AddUserInfoForm/AddUserInfoForm.tsx
  src/pages/AddUserInfoPage/index.tsx
  src/pages/AddUserInfoPage/utils/config.ts
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfo/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfo/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfoEditMode/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfoEditMode/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfoPreviewMode/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfoEditMode/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfoEditMode/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/UpdateProfileDialog/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/index.tsx
  src/pages/UserProfilePage/index.tsx
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Uncomment scure cookies
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-317 Add notification for anonymous user
  src/components/Drawer/index.tsx
  src/components/Header/index.tsx
  src/hooks/useRequireAuth.ts
  src/pages/PublicationPage/children/Price/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fixed flickering effect of avatar
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfoEditMode/styles.module.scss
Due: prettier --write

GRX-356 Undefined in user name. Fix comments
  src/components/Drawer/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-317 [Drawer, Publication Page] Notification for button. Fix comments
  src/components/Drawer/index.tsx
  src/components/Header/index.tsx
  src/hooks/useRequireAuth.ts
  src/pages/PublicationPage/children/Price/index.tsx
  src/utils/getNotificationButton.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-316 [Search Page] Scroll to top
  src/assets/icons/arrow-up.svg
  src/pages/SearchPage/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-330 [PublicationCard] Updated component to support edit options
  src/GlobalConfigProvider.tsx
  src/components/Button/index.tsx
  src/components/Drawer/index.tsx
  src/components/Header/index.tsx
  src/components/PublicationCard/index.tsx
  src/components/PublicationCard/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-356 Fix undefined in user name. Add src to Drawer
  src/components/Drawer/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-316 [Search Page] Scroll to top. Fix comments
  src/layouts/SearchLayout/index.tsx
  src/layouts/SearchLayout/styles.module.scss
  src/pages/SearchPage/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-316 [Search page] Add scroll. Fix Drawer
  src/components/Drawer/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-317 [Publication Page, Drawer] Add notification for anonymous user. Fix comments
  src/hooks/useRequireAuth.ts
  src/pages/PublicationPage/children/Picker/index.tsx
  src/pages/PublicationPage/children/Price/index.tsx
  src/utils/getNotificationButton.ts
  src/utils/notificationButton.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-317 [Publication Page, Drawer] Add notification for anonymous user. Fix Drawer
  src/components/Drawer/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-323 [My Publications] Add empty state
  src/assets/icons/no-my-publications.svg
  src/pages/MyPublicationsPage/children/MyPublicationsEmptyState/index.tsx
  src/pages/MyPublicationsPage/children/MyPublicationsEmptyState/styles.module.scss
  src/pages/MyPublicationsPage/children/Tabs/index.tsx
  src/pages/MyPublicationsPage/utils/createEmptyStateContent.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-317 [Publication, Drawer] Notification for anonymous user. Add loader into the Drawer
  src/components/Drawer/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-317 [Publication, Drawer] Notification for anonymous user. Fix comments
  src/components/Drawer/index.tsx
  src/components/Header/index.tsx
  src/pages/PublicationPage/children/Picker/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-323 [My Publications] Empty state. Fix comments
  src/pages/MyPublicationsPage/children/MyPublicationsEmptyState/index.tsx
  src/pages/MyPublicationsPage/children/MyPublicationsEmptyState/styles.module.scss
  src/pages/MyPublicationsPage/children/Tabs/index.tsx
  src/pages/MyPublicationsPage/utils/createEmptyStateContent.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX 331 Add modal and delete logic for editable publications
  src/components/PublicationCard/index.tsx
  src/pages/MyPublicationsPage/children/DeleteModal/index.tsx
  src/pages/MyPublicationsPage/children/DeleteModal/styles.module.scss
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Path conditions:
  prettier --config .prettierrc.json "src/**" --write: any of: *.{js,jsx,ts,tsx}
  eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,scss,md}
