Repository K-Holotenko/graxis-app-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --config .prettierrc.json \"src/**\" --write",
    "eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix",
    "git add"
  ],
  "*.{css,scss,md}": ["prettier --write"]
}

NONE Fixed requireAuth on price
  src/pages/BookingPage/children/BookingDialog/index.tsx
  src/pages/BookingPage/index.tsx
  src/pages/PublicationPage/children/Price/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Removed console.logs
  src/hooks/useRequireAuth.ts
  src/pages/BookingPage/children/Chat/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Update feedback show time
  src/components/Footer/index.tsx
  src/pages/BookingPage/children/Booking/Feedback.tsx
  src/pages/BookingPage/children/Booking/index.tsx
  src/pages/BookingPage/children/Chat/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Added error handling for booking request
  src/pages/BookingPage/children/Booking/index.tsx
  src/pages/BookingPage/children/BookingDialog/index.tsx
  src/pages/BookingPage/children/BookingDialog/utils.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Added booking dates to Booking page
  src/pages/BookingPage/children/Booking/BookingDetails.tsx
  src/pages/BookingPage/children/Booking/styles.module.scss
  src/pages/BookingPage/index.tsx
  src/pages/BookingPage/skeletons/index.tsx
  src/pages/PublicationPage/children/PickerFooter/index.tsx
  src/pages/PublicationPage/children/Price/index.tsx
  src/pages/PublicationPage/skeletons/index.tsx
  src/pages/SearchPage/skeletons/index.tsx
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

NONE Fixed lodaing state for booking states
  src/pages/BookingPage/skeletons/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-423 Spacing. Fix comments
  src/pages/PublicationFormPage/children/PublicationForm/index.tsx
  src/pages/PublicationFormPage/children/UploadList/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-423 Spacing. Fix comments
  src/pages/PublicationFormPage/children/PublicationForm/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-321 [Notifications] Initial notification socket setup
  src/App.tsx
  src/components/Header/index.tsx
  src/components/Header/styles.module.scss
  src/config/constants/index.ts
  src/hooks/useBookingStatus.ts
  src/hooks/useSocketConnection.ts
  src/pages/BookingPage/children/Chat/index.tsx
  src/pages/BookingPage/index.tsx
  src/pages/HomePage/children/CategoriesSection/CategoriesSection.test.tsx
  src/pages/HomePage/children/CategoriesSection/index.tsx
  src/pages/HomePage/children/CategoriesSection/styles.module.scss
  src/pages/HomePage/index.tsx
  src/services/NotificationService.ts
  src/stores/bookingStore.ts
  src/stores/notificationStore.ts
  src/utils/formatDate.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-321 Finalised notification logic
  src/components/Header/index.tsx
  src/components/Notification/index.tsx
  src/config/constants/index.ts
  src/hooks/useBookingStatus.ts
  src/pages/BookingPage/children/Chat/index.tsx
  src/pages/PublicUserProfile/utils.ts
  src/pages/PublicationPage/children/Picker/styles.module.scss
  src/pages/UserProfilePage/children/NotificationsTab/index.tsx
  src/pages/UserProfilePage/children/NotificationsTab/styles.module.scss
  src/services/NotificationService.ts
  src/stores/authStore.ts
  src/stores/bookingStore.ts
  src/stores/categoriesStore.ts
  src/stores/myPublicationStore.ts
  src/stores/notificationStore.ts
  src/stores/userProfileStore.ts
  src/types/index.ts
  src/types/notifications.ts
  src/utils/notificationsUtils.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fixed types issues
  src/hooks/useSocketConnection.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Added lives search
  src/components/PublicationCard/styles.module.scss
  src/pages/SearchPage/children/SearchBar/index.tsx
  src/pages/SearchPage/children/SearchBar/styles.module.scss
  src/pages/SearchPage/index.tsx
  src/pages/SearchPage/utils/config.ts
  src/services/PublicationService.ts
  src/utils/debounce.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

NONE Notification sorting and unread handling
  src/components/Drawer/index.tsx
  src/components/Drawer/styles.module.scss
  src/components/Header/index.tsx
  src/components/Notification/index.tsx
  src/components/SelectLocation/index.tsx
  src/components/SelectLocation/styles.module.scss
  src/config/constants/index.ts
  src/pages/AddUserInfoPage/children/AddUserInfoForm/AddUserInfoForm.tsx
  src/pages/PublicationFormPage/children/LocationAutocomplete/index.tsx
  src/pages/PublicationFormPage/children/PublicationForm/index.tsx
  src/pages/PublicationFormPage/children/PublicationForm/styles.module.scss
  src/pages/UserProfilePage/children/NotificationsTab/index.tsx
  src/pages/UserProfilePage/children/PaymentTab/index.tsx
  src/pages/UserProfilePage/children/Sidebar/index.tsx
  src/pages/UserProfilePage/index.tsx
  src/router/routes.tsx
  src/stores/notificationStore.ts
  src/types/notifications.ts
  src/utils/notificationsUtils.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Removed old code
  src/router/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-432 Spacing. Continue
  src/layouts/PublicProfileLayout/styles.module.scss
  src/pages/PublicUserProfile/children/FeedbackCard/styles.module.scss
  src/pages/PublicUserProfile/children/HeroBanner/index.tsx
  src/pages/PublicUserProfile/children/HeroBanner/styles.module.scss
  src/pages/PublicUserProfile/styles.module.scss
  src/pages/UserProfilePage/children/Card/styles.module.scss
  src/pages/UserProfilePage/children/NotificationsTab/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfo/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfoEditMode/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfoPreviewMode/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfoEditMode/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/PersonalInfoEditMode/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

NONE Added reset password logic
  .firebase/hosting.ZGlzdA.cache
  src/App.tsx
  src/components/AuthActionHandler/index.tsx
  src/components/AuthForms/index.tsx
  src/components/Footer/index.tsx
  src/components/Header/index.tsx
  src/config/constants/index.ts
  src/config/validation/index.ts
  src/pages/CheckEmailPage/index.tsx
  src/pages/CheckEmailPage/styles.module.scss
  src/pages/HomePage/children/CategoriesSectionCard/CategoriesSectionCard.test.tsx
  src/pages/HomePage/children/CategoriesSectionCard/index.tsx
  src/pages/HomePage/children/CategoriesSectionCard/styles.module.scss
  src/pages/HomePage/children/CategoriesSectionCard/utils/config.ts
  src/pages/HomePage/children/HeroSection/HeroSection.test.tsx
  src/pages/HomePage/children/HeroSection/index.tsx
  src/pages/HomePage/children/HeroSection/styles.module.scss
  src/pages/HomePage/children/HomeSectionTitle/index.tsx
  src/pages/HomePage/children/HomeSectionTitle/styles.module.scss
  src/pages/HomePage/index.tsx
  src/pages/HomePage/utils/config.ts
  src/pages/LoginPage/children/EmailLoginForm/index.tsx
  src/pages/NewPasswordPage/index.tsx
  src/pages/NewPasswordPage/styles.module.scss
  src/pages/RegistrationPage/RegistrationPage.test.tsx
  src/pages/RegistrationPage/children/EmailRegistrationForm/index.tsx
  src/pages/RegistrationPage/children/EmailRegistrationForm/utils.ts
  src/pages/ResetPassword/index.tsx
  src/pages/ResetPassword/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfoEditMode/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfoPreviewMode/index.tsx
  src/pages/VerifyEmailPage/index.tsx
  src/pages/VerifyEmailPage/utils/constants.ts
  src/router/index.tsx
  src/router/routes.tsx
  src/services/AuthService.ts
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Removed cache from pr
  .firebase/hosting.ZGlzdA.cache
Due: none

Fixed reset password flow
  .gitignore
  src/components/AuthActionHandler/index.tsx
  src/pages/NewPasswordPage/index.tsx
  src/pages/ResetPassword/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix
