Repository K-Holotenko/graxis-app-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --config .prettierrc.json \"src/**\" --write",
    "eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix",
    "git add"
  ],
  "*.{css,scss,md}": ["prettier --write"]
}

GRX 331 Add modal and delete logic for editable publications
  src/components/PublicationCard/index.tsx
  src/pages/MyPublicationsPage/children/DeleteModal/index.tsx
  src/pages/MyPublicationsPage/children/DeleteModal/styles.module.scss
  src/services/PublicationService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-323 [My Publications] Empty State. Fix styles
  src/layouts/MyPublicationsLayout/styles.module.scss
Due: prettier --write

Add log to check user
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-318 [Publication page] Breadcrumbs sync with BE
  src/components/BreadCrumbs/utils/buildBreadcrumbs.ts
  src/components/BreadCrumbs/utils/buildBreadcrumbsPath.ts
  src/components/BreadCrumbs/utils/generateBreadcrumbs.ts
  src/pages/PublicationPage/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-329 Create Error page
  src/App.tsx
  src/assets/icons/error-icon.svg
  src/components/ScrollRestorationWithoutItemPage/index.tsx
  src/main.tsx
  src/pages/ErrorPage/index.tsx
  src/pages/ErrorPage/styles.module.scss
  src/pages/PublicationPage/index.tsx
  src/pages/SearchPage/index.tsx
  src/router/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-318 [Publication page] Breadcrumbs sync with BE. Fix comments
  src/components/BreadCrumbs/utils/buildBreadcrumbsPath.ts
  src/components/BreadCrumbs/utils/generateBreadcrumbs.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

NONE Update refresh token logic and fixed profile layout
  src/App.tsx
  src/config/firebase/index.ts
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfo/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/ContactInfoPreviewMode/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/ProfileCard/styles.module.scss
  src/pages/UserProfilePage/children/PersonalInfoTab/index.tsx
  src/pages/UserProfilePage/children/PersonalInfoTab/styles.module.scss
  src/services/PublicationService.ts
  src/services/UserService.ts
  src/stores/authStore.ts
  src/stores/userStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fixed tests
  src/components/Header/Header.test.tsx
  src/config/firebase/firebase.test.ts
  src/pages/LoginPage/LoginPage.test.tsx
  src/pages/RegistrationPage/RegistrationPage.test.tsx
  src/services/UserService.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-329 Create Error page. Fix comments
  src/App.tsx
  src/components/ScrollRestorationWithoutPublicationPage/index.tsx
  src/pages/ErrorPage/index.tsx
  src/pages/ErrorPage/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-334 [Publication Page] Update calendar
  src/pages/PublicationPage/children/Picker/index.tsx
  src/pages/PublicationPage/children/Picker/styles.module.scss
  src/pages/PublicationPage/children/Picker/utils/getCellRender.tsx
  src/pages/PublicationPage/children/Price/index.tsx
  src/pages/PublicationPage/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-334 [Publication Page] Update calendar. Fix function
  src/pages/PublicationPage/children/Picker/utils/getCellRender.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-334, GRX-339 [Publication Page, Drawer]. Fix comments. Fix logo navigation in Drawer. Fix Drawer close
  src/components/Drawer/index.tsx
  src/components/Drawer/styles.module.scss
  src/pages/PublicationPage/children/Picker/index.tsx
  src/pages/PublicationPage/children/Picker/utils/getCellRender.tsx
  src/pages/PublicationPage/children/PickerFooter/index.tsx
  src/pages/PublicationPage/children/PickerFooter/styles.module.scss
  src/pages/PublicationPage/children/Price/index.tsx
  src/pages/PublicationPage/children/Price/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

Fixed pipline
  src/pages/PublicationFormPage/children/PriceInputs/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fixed bot's comments
  src/components/ScrollRestorationWithoutPublicationPage/index.tsx
  src/pages/PublicationFormPage/children/LocationAutocomplete/index.tsx
  src/pages/PublicationFormPage/children/LocationAutocomplete/utils/utils.ts
  src/pages/PublicationFormPage/children/PublicationForm/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Created a chart for publications
  package-lock.json
  package.json
  src/pages/HomePage/children/Chart/index.tsx
  src/pages/HomePage/children/Chart/utils.ts
  src/pages/HomePage/index.tsx
  src/pages/SearchPage/index.tsx
  src/services/PublicationService.ts
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Added loadign state
  src/pages/HomePage/children/Chart/index.tsx
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Updated date sorting logic
  src/pages/HomePage/children/Chart/index.tsx
  src/pages/HomePage/children/Chart/utils-fixed.ts
  src/pages/HomePage/children/Chart/utils.ts
  src/pages/HomePage/children/Chart/utilsFixed.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Updated date sorting logic 2.0
  src/pages/HomePage/children/Chart/utils-fixed.ts
  src/pages/HomePage/children/Chart/utils.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Applied code splitting techniques
  src/pages/AddUserInfoPage/index.tsx
  src/pages/UserProfilePage/index.tsx
  src/pages/VerifyEmailPage/index.tsx
  src/router/index.tsx
  src/stores/authStore.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Added custom bundler plugin to detect component size
  customPlugins/componentSizeChecker.ts
  vite.config.ts
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-262 Bugfix [Publication page] Fix success color
  src/pages/PublicationFormPage/children/CategoriesDropdown/index.tsx
  src/pages/PublicationFormPage/children/CategoriesDropdown/styles.module.scss
  src/pages/PublicationFormPage/children/LocationAutocomplete/index.tsx
  src/pages/PublicationFormPage/children/PriceInputs/index.tsx
  src/pages/PublicationFormPage/children/PriceInputs/styles.module.scss
  src/pages/PublicationFormPage/children/UploadItem/styles.module.scss
Due: prettier --config .prettierrc.json "src/**" --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix, prettier --write

GRX-296 Bugfix [Add User Info] Fix avatar jumping
  src/pages/AddUserInfoPage/children/AddUserInfoForm/styles.module.scss
Due: prettier --write

GRX-296 Buffix [Add User Info] Fix avatar jumping. Fix comments
  src/pages/AddUserInfoPage/children/AddUserInfoForm/styles.module.scss
Due: prettier --write
