Repository K-Holotenko/graxis-app-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fixed husky again
  .lintstagedrc.json
Due: none

Fixed typecheck
  src/pages/HomePage/children/PopularGoods/PopularGoods.test.tsx
  src/pages/ItemPage/children/ImageCarousel/index.tsx
  src/pages/ItemPage/children/Picker/index.tsx
  tsconfig.app.json
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fixed public folder
  firebase.json
Due: none

GRX-223. Add search results grid
  src/layouts/CardsGridLayout/styles.module.scss
Due: prettier --write

GRX-212 Add breadcrumbs
  src/components/BreadCrumbs/index.tsx
  src/components/BreadCrumbs/styles.module.scss
  src/components/BreadCrumbs/utils/buildBreadcrumbs.ts
  src/components/BreadCrumbs/utils/generateBreadcrumbs.ts
  src/config/constants/index.ts
  src/layouts/ItemLayout/styles.module.scss
  src/pages/ItemPage/index.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-153 Add Publish button
  src/components/TextArea/index.tsx
  src/pages/AddPublicationPage/children/AddPublicationForm/AddPublicationForm.test.tsx
  src/pages/AddPublicationPage/children/AddPublicationForm/index.tsx
  src/pages/AddPublicationPage/children/AddPublicationForm/styles.module.scss
  src/pages/AddPublicationPage/children/CategoriesDropdown/index.tsx
  src/pages/AddPublicationPage/children/LocationAutocomplete/index.tsx
  src/pages/AddPublicationPage/children/PriceInputs/PriceInputs.test.tsx
  src/pages/AddPublicationPage/children/PriceInputs/index.tsx
  src/pages/AddPublicationPage/children/UploadList/index.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Comment out some tests due to config error
  src/pages/AddPublicationPage/children/AddPublicationForm/AddPublicationForm.test.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-122 Add static map
  src/config/constants/index.ts
  src/layouts/ItemLayout/styles.module.scss
  src/pages/ItemPage/children/LocationMap/index.tsx
  src/pages/ItemPage/children/LocationMap/styles.module.scss
  src/pages/ItemPage/children/LocationMap/utils/generateCircle.ts
  src/pages/ItemPage/index.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-219 Create Search page base layout
  src/components/Input/index.tsx
  src/layouts/SearchLayout/index.tsx
  src/layouts/SearchLayout/styles.module.scss
  src/pages/HomePage/children/HeroSection/index.tsx
  src/pages/SearchResultsPage/index.tsx
  src/pages/SearchResultsPage/utils/config.ts
  src/router/index.tsx
  src/router/routes.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Update lintstagedrc file
  .lintstagedrc.json
Due: none

Add correct keys
  src/pages/AddPublicationPage/children/AddPublicationForm/index.tsx
  src/pages/ItemPage/children/LocationMap/index.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-223.Add search results grid
  src/layouts/CardsGridLayout/index.tsx
  src/layouts/CardsGridLayout/styles.module.scss
  src/pages/HomePage/children/PopularGoodCard/index.tsx
  src/pages/HomePage/children/PopularGoods/styles.module.scss
  src/pages/SearchResultsPage/children/PublicationsSection/index.tsx
  src/pages/SearchResultsPage/children/PublicationsSection/styles.scss
  src/pages/SearchResultsPage/index.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Adding some features
  src/layouts/CardsGridLayout/styles.module.scss
  src/layouts/SearchLayout/styles.module.scss
  src/pages/HomePage/children/PopularGoodCard/index.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Adding some features
  src/pages/ItemPage/index.tsx
  src/pages/SearchResultsPage/children/PublicationsSection/styles.scss
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Adding some features
  src/layouts/SearchLayout/styles.module.scss
  src/pages/HomePage/children/PopularGoodCard/PopularGoodCard.test.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-254. Create Basic Profile page base layout
  src/layouts/ProfileLayout/index.tsx
  src/layouts/ProfileLayout/styles.module.scss
  src/pages/AddPublicationPage/children/AddPublicationForm/index.tsx
  src/pages/ItemPage/children/LocationMap/index.tsx
  src/pages/UserProfilePage/index.tsx
  src/pages/UserProfilePage/utils/config.ts
  src/router/index.tsx
  src/router/routes.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

GRX-252 Add categories filter
  src/assets/icons/arrow-down-light-icon.svg
  src/assets/icons/arrow-right-icon.svg
  src/config/constants/index.ts
  src/layouts/SearchLayout/styles.module.scss
  src/pages/AddPublicationPage/children/AddPublicationForm/index.tsx
  src/pages/ItemPage/children/LocationMap/index.tsx
  src/pages/SearchResultsPage/children/CategoriesFilter/index.tsx
  src/pages/SearchResultsPage/children/CategoriesFilter/styles.module.scss
  src/pages/SearchResultsPage/index.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Adding some features
  src/components/Header/index.tsx
  src/config/constants/index.ts
  src/layouts/ProfileLayout/index.tsx
  src/layouts/ProfileLayout/styles.module.scss
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Changed the margin
  src/layouts/SearchLayout/styles.module.scss
Due: prettier --write

GRX-254. Create Basic Profile page base layout
  src/layouts/ProfileLayout/index.tsx
  src/layouts/ProfileLayout/styles.module.scss
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Removed optional element
  src/components/Header/index.tsx
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Fix bugs
  src/components/SelectLocation/styles.module.css
  src/components/SelectLocation/styles.module.css.map
  src/layouts/ProfileLayout/children/LeftContentSection/index.tsx
  src/layouts/ProfileLayout/children/LeftContentSection/styles.module.scss
  src/layouts/ProfileLayout/children/RightContentSection/index.tsx
  src/layouts/ProfileLayout/children/RightContentSection/styles.module.scss
  src/layouts/ProfileLayout/index.tsx
  src/layouts/ProfileLayout/styles.module.scss
  src/pages/LoginPage/children/EmailLoginForm/styles.module.css
  src/pages/LoginPage/children/EmailLoginForm/styles.module.css.map
  src/pages/RegistrationPage/children/EmailRegistrationForm/styles.module.css
  src/pages/RegistrationPage/children/EmailRegistrationForm/styles.module.css.map
  src/styles/fonts.css
  src/styles/fonts.css.map
  src/styles/variables.css
  src/styles/variables.css.map
Due: prettier --write, eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,md})
  eslint --ignore-pattern 'src/assets/**' --max-warnings=0 --fix: any of: *.{js,jsx,ts,tsx}
